@tailwind base;
@tailwind components;
@tailwind utilities;




h1 {
    color: #143cdb;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px 1px 2px #dedede;
}
h2 {
    color: #143cdb;
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 1px 1px 2px #dedede;
}
h3 {
    font-size: 1.2em;
    font-weight: 600;
    opacity: 0.7;
}

h5 {
    font-weight: bold;
    opacity: 0.7;
}


.center {
    text-align: center;
}

.small {
    font-size: 0.8em;
    color: #aaa;
}
.smaller {
    font-size: 0.7em;
    color: #aaa;
}
.smallest {
    font-size: 0.6em;
    color: #aaa;
}

.uppercase {
    text-transform: uppercase;
}
/*******************************************
  HEADER
*******************************************/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #143cdb;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 0 15px;
    letter-spacing: 0.5px;
}
.nav-link:hover {
    color:#ffc64d;
}
/*******************************************
  end HEADER
*******************************************/



/*******************************************
  PAGE
*******************************************/
.container {
    padding: 25px 10%;
}

/*******************************************
  end PAGE
*******************************************/



/*******************************************
  TEAMS ROW
*******************************************/
.table {
    border: 2px solid #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 10px 0;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}
.table .table-row:last-child {
    border-bottom: none;
}

.sort-flag {
    font-size: 0.8em;
    color: #aaa;
    cursor: pointer;
}
.sort-flag.active {
    color:#ffc64d;
}


.team-row .team-id {
    width: 40px;
}
.team-row .team-flag {
    width: 50px;
    text-align: center;
}
.team-row .team-flag img {
    width: 30px;
    display: inline-block;
}
.team-row .pass-game {
    height: 25px;
    width: 40px;
    background: #f5f5f5;
    margin: 0 auto;
}

.team-row .team-title {
    width: 20%;
}
.team-row .team-title span {
    /*text-transform: uppercase;*/
    font-size: 1.25em;
}

.team-row .team-ranking {
    width: 60px;
    text-align: center;
}

.team-row .team-group {
    width: 60px;
    text-align: center;
}
.team-row .team-points {
    width: 60px;
    text-align: center;
}
.team-row .team-played {
    width: 60px;
    text-align: center;
}
/*******************************************
  end TEAMS ROW
*******************************************/


/*******************************************
  GROUPS
*******************************************/
.wrapGroupTables {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.wrapGroupTables .wrapGroup50 {
    width: calc(50% - 50px);
    margin: 25px;
}
.wrapGroupTables .wrapGroup100 {
    width: calc(100% - 50px);
    margin: 25px;
}

.table-group-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
}
.show-group-link {
    font-size: 0.75em;
    cursor: pointer;
    font-style: italic;
}
.show-group-link:hover {
    text-decoration: underline;
    color: #ffc64d;
}

.table-group {
    padding: 10px 20px;
}
.table-group .table-row {
    padding: 0;
    height: 50px;
}
.table-group .team-position  {
    width: 25px;
    text-align: center;
    height: 100%;
    border-right: 4px solid transparent;
    display: flex;
    align-items: center;
}
.table-group .team-position.pos_0,
.table-group .team-position.pos_1{
    border-right: 4px solid #31d331;
}
.table-group .team-position.pos_2{
     border-right: 4px solid #ffeb3b;
 }

.table-group .team-row .team-title span {
    font-size: 1em;
}

.table-group-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.group-games {
    width: calc(33.33% - 10px);
    margin: 10px 0;
    text-align: center;
    /*border-radius: 20px;*/
    /*border: 1px solid #ddd;*/
}
.wrapGroupTables .wrapGroup50 .details-info,
.wrapGroupTables .wrapGroup50 .table-group-games {
    display: none;
}
/*******************************************
  end GROUPS
*******************************************/





/*******************************************
  GAMES/MATCHES
*******************************************/
.flag-small {
    width: 30px;
    height: 30px;
}
.flag-medium {
    width: 50px;
    height: 50px;
}
.game-brief-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px 0 5px;
}

.game-brief-container .team {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-brief-container .team .teamId {
    margin-top: 5px;
}

.game-brief-container .center {
    width: 30%;
}
/*******************************************
  end GAMES/MATCHES
*******************************************/